[flake8]
max-line-length = 160
extend-ignore = E203, E266, E302, E305, E501, E722, W291, W292, W293, W503, W504
per-file-ignores =
    tests/*: F401, E402, F841
exclude =
    .git,
    __pycache__,
    build-pkg,
    website,
    .venv,
    venv,
    node_modules
